<template name="employeesList">
  <button id="add-employee">Add Employee</button>
  <button id="add-review">Add Review</button>

  <table id="employees-table" class="table">
    <thead>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Squad</th>
        <th>Join Date</th>
        <th>Total Reviews</th>
        <th>Overall Average</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each employees}}
        {{> employeeItem}}
      {{/each}}
    </tbody>
  </table>
</template>