<template name="reviewsList">
  <table id="reviews-table" class="table">
    <thead>
      <tr>
        <th>Week</th>
        <th>Your Average</th>
        <th>Number of Reviews</th>
        <th>Product Name</th>
        <th>Product Average</th>
        <th>Company Average</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each averages}}
        {{> reviewItem}}
      {{/each}}
    </tbody>
  </table>

  <a class="btn btn-default submit-review" href="{{pathFor 'reviewsSubmit'}}">Submit Review</a>
</template>